.card-container {
    position: relative;
    /* padding-top: 50px; */
    /* margin-bottom: -25px; */
    display: flex;
    justify-content: center;
    align-items: center;
    top: 300px;
    z-index: -0;
  }
  
  .custom-card {
    width: 300px;
    height: 220px !important;
    margin: 0 10px;
    position: absolute;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .custom-card:nth-child(1) {
    left: 13%;
    z-index: 1;
    transform: rotate(340deg);
    background-color: #FDC79E;
  }
  .custom-card:nth-child(2) {
    left: 25%;
    z-index: 2;
    transform: rotate(9deg);
    background-color: #baf2ed;
  }
  .custom-card:nth-child(3) {
    left: 43%;
    z-index: 4;
    transform: rotate(0deg);
    background-color: rgb(244 162 162);
    color: #ffffff !important;
  }
  .custom-card:nth-child(4) {
    left: 63%;
    z-index: 3;
    transform: rotate(10deg);
    background-color: #BFE3F1;
  }
  
  .custom-card:hover {
    transform: translateY(-55px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
  
  /*  responsive  */
  
  /* @media only screen and (min-width: 320px) and (max-width: 992px) {
    .card-container {
      position: relative;
      top: 220px;
      display: inline-flex !important;
      justify-content: center !important;
      align-items: unset !important;
    }
  
    .custom-card {
      width: 200px;
    }
    .custom-card:nth-child(1) {
      position: relative;
      left: 20px;
      z-index: 1;
      transform: rotate(340deg);
    }
    .custom-card:nth-child(2) {
      position: relative;
      left: 0px;
      z-index: 2;
      transform: rotate(20deg);
    }
    .custom-card:nth-child(3) {
      position: relative;
      left: -10px;
      z-index: 4;
      transform: rotate(2deg);
    }
    .custom-card:nth-child(4) {
      position: relative;
      left: -30px;
      z-index: 3;
      transform: rotate(10deg);
    }
    .custom-card:hover {
      transform: translateY(-55px);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      z-index: 10;
    }
  }
   */


   @media only screen and (min-width: 320px) and (max-width: 992px) {
    .card-container {
      top: 120px;
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      padding: 20px;
      scroll-snap-type: x mandatory;
      gap: 16px;
    }
  
    .custom-card {
      flex: 0 0 auto;
      scroll-snap-align: start;
      width: 240px;
      height: 220px !important;
      transform: rotate(0deg) !important;
      margin: 0 8px;
      position: relative !important;
      left: 345px !important;
      z-index: 1 !important;
    }
  
    .custom-card:hover {
      transform: scale(1.05);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      z-index: 10;
    }
    
  }
  