@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

:root {
  --orange-color: #ec7229;
  --light-orange-color: rgba(253, 199, 158, 0.2);
  --sky-blue-color: #ddf0f8;
  --light-sky-blue-color: #f4fafd;
  --chinese-black-color: #111111;
  --muted-gray-color: #373737;
  --gray-color: #707070;
  --light-blue-color: rgba(137, 201, 230, 0.1);
  --white-color: #ffffff;
}
::-webkit-scrollbar {
  display: none;
}

/* <------- Common Classes --------> */

/* Background Color */
.bg-gradient-color {
  background: linear-gradient(to right, #89c9e6, #dd3675, #ec7229) !important;
}

.bg-orange-color {
  background-color: var(--orange-color);
}

.bg-sky-blue-color {
  background-color: var(--sky-blue-color);
}

.bg-light-orange-color {
  background-color: var(--light-orange-color);
}
.bg-light-sky-blue-color {
  background-color: var(--light-sky-blue-color);
}
.bg-skyblue {
  background-color: #f3fafc !important;
}
.bg-white {
  background-color: var(--white-color) !important;
}

/* Common text Color Css */
.text-color-orange {
  color: var(--orange-color) !important;
}

.text-muted-gray-color {
  color: var(--muted-gray-color) !important;
}

.text-white-color {
  color: var(--white-color) !important;
}

.text-gray-color {
  color: var(--gray-color) !important;
}

.text-chinese-black-color {
  color: var(--chinese-black-color) !important;
}

/* 
 ========================== 

 Font Family

 ==========================
*/

/* Josefin Sans: CSS class for a variable style */

.josefin-sans-font-family-600 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.josefin-sans-font-family-500 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Inter: CSS class for a variable style */

.inter-font-family-400 {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
}

.inter-font-family-500 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.inter-font-family-600 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* Common Font css */

.font-10-400 {
  font-size: 10px !important;
  font-weight: 400 !important;
}
.font-12-300 {
  font-size: 12px !important;
  font-weight: 300 !important;
}
.font-12-400 {
  font-size: 12px !important;
  font-weight: 400 !important;
}
.font-12-500 {
  font-size: 12px !important;
  font-weight: 500 !important;
}
.font-14-300 {
  font-size: 14px !important;
  font-weight: 300 !important;
}
.font-14-400 {
  font-size: 14px !important;
  font-weight: 400 !important;
}

.font-14-500 {
  font-size: 14px !important;
  font-weight: 500 !important;
}
.font-16-300 {
  font-size: 16px !important;
  font-weight: 300 !important;
}
.font-16-400 {
  font-size: 16px !important;
  font-weight: 400 !important;
}
.font-16-500 {
  font-size: 16px !important;
  font-weight: 500 !important;
}
.font-18-500 {
  font-size: 18px !important;
  font-weight: 500 !important;
}
.font-20-400 {
  font-size: 20px !important;
  font-weight: 400 !important;
}
.font-20-500 {
  font-size: 20px !important;
  font-weight: 500 !important;
}
.font-24-400 {
  font-size: 24px !important;
  font-weight: 400 !important;
}
.font-24-500 {
  font-size: 24px !important;
  font-weight: 500 !important;
}

.font-32-500 {
  font-size: 32px !important;
  font-weight: 500 !important;
}

/* Common Border css */

.border-orange {
  border: 1px solid var(--orange-color);
}

.border-radius-8 {
  border-radius: 8px !important;
}

.border-radius-12 {
  border-radius: 12px !important;
}
.border-radius-16 {
  border-radius: 16px;
}
.border-radius-20 {
  border-radius: 20px;
}

/* <------- Main Navbar ---------> */
.navbar {
  z-index: 3;
}

.nav-link {
  font-size: 14px;
  color: var(--gray-color) !important;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  font-size: 14px;
  color: var(--orange-color) !important;
  text-decoration: none;
}

.nav-link.active {
  color: var(--orange-color) !important;
  border-bottom: 1px solid var(--orange-color);
  font-weight: 600;
  line-height: 4px;
  margin-top: 9px;
}
.cursor {
  cursor: pointer;
}
.farm-btn button {
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(to right, #89c9e6, #dd3675, #ec7229);
  /* width: 160px; */
  padding: 8px 20px !important;
  /* height: 52px; */
  border: 0px;
}

.products-collapse {
  position: absolute;
  top: 85px;
  right: 0%;
  background: var(--light-sky-blue-color);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateY(-10px);
  opacity: 0;
  visibility: hidden;
}

.products-collapse.show {
  max-height: 300px;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.products-collapse-list {
  display: flex;
}

.products-title {
  font-size: 14px;
  font-weight: 500;
  color: #272727;
  line-height: 21px;
}

.products-list li {
  padding: 6px 0px;
  line-height: 20px !important;
  font-size: 14px;
  font-weight: 300;
  line-height: 34px;
  color: var(--gray-color);
}

.products-list li:hover {
  font-size: 14px;
  font-weight: 300;
  line-height: 34px;
  color: var(--orange-color);
}

.cart-navbar {
  width: 40px;
  height: 40px;
}
.cart-icon-nav {
  color: #fb9038;
}
.dropdown-menu.show {
  position: absolute;
  right: -50%;
}

/* Responsive Design */
@media (max-width: 992px) {
  .products-collapse {
    position: absolute;
    width: 100%;
    left: 0;
    top: 28%;
    z-index: 1000;
  }
}

@media (max-width: 820px) {
  .nav-link.active {
    width: 40%;
    margin: auto;
    color: var(--orange-color) !important;
    border-bottom: 2px solid var(--orange-color);
    /* font-weight: 600;  */
    line-height: 4px;
    margin-top: 9px;
  }

  .user-icon img {
    margin-left: 25px;
  }
}

@media (max-width: 580px) {
  /* .products-collapse-list{
    flex-direction: column;
    align-items: center;
  } */
  .products-collapse.show {
    max-height: 500px;
    /* height: auto; */
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .farm-btn button {
    font-size: 14px;
    font-weight: 500;
    background: linear-gradient(to right, #89c9e6, #dd3675, #ec7229);
    /* width: 160px; */
    padding: 0px 18px !important;
    height: 35px;
    border: 0px;
  }
  .cart-navbar {
    width: 35px !important;
    height: 35px !important;
  }
  .user-icon-img {
    width: 35px;
    height: 35px;
  }
  .user-icon img {
    margin-left: 10px;
  }
}

/* <------- Main Navbar End ---------> */

.form-data {
  width: 100%;
  /* height: 100vh; */
}

.form-data-img {
  height: 200px;
  width: 200px;
  /* border: 2px solid; */
}

.form-data-img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  .form-data {
    height: auto;
    flex-direction: column;
  }

  .animal-images {
    height: auto;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .nav-link.active {
    color: #fb9038 !important;
    border-bottom: 2px solid #fb9038;
    /* font-weight: 600;  */
    line-height: 4px;
    margin-top: 0px;
  }

  .form-data {
    height: auto;
    flex-direction: column;
  }

  .animal-images {
    height: auto;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
  }
}

/* <------- Inner Page Navbar -------> */

/* Ensure the navbar is collapsed by default */
.navbar-collapse {
  max-height: none;
  overflow: visible;
  transition: max-height 0.5s ease-in-out;
  /* Smooth animation */
}

@media (max-width: 991.98px) {
  /* Bootstrap breakpoint for lg screens and below */
  .navbar-collapse {
    max-height: 0;
    overflow: hidden;
  }

  /* Expanded state with smooth animation */
  .custom-collapse-show {
    max-height: 500px;
    /* Smooth expansion */
  }
}

.add-animal-btn {
  margin-bottom: 6px;
  /* width: 165px; */
  height: 46px;
  font-size: 15px;
  font-weight: 500;
}
.navbar-searchbar {
  width: 310px;
  height: 52px;
}

/* <--------- Home ---------> */

.home {
  /* height: 100vh; */
  overflow: hidden;
}

.video-section {
  z-index: 2;
}

.video-content {
  filter: drop-shadow(8px 16px 24px black);
  color: white !important;
}

.header-carousel {
  height: 100% !important;
}

@media (max-width: 1024px) {
  .home {
    height: auto;
  }

  .video-content {
    filter: drop-shadow(8px 16px 24px black);
    color: white !important;
  }
}

@media (max-width: 768px) {
  .home {
    height: auto;
  }

  .video-content {
    filter: drop-shadow(8px 16px 24px black);
    color: white !important;
  }
}

/* <--------- Animals --------> */

.label-title {
  display: inline-block;
  font-weight: 500;
  font-size: 35px;
  /* border-radius: 6.1875rem; */
  color: #013220;
  font-family: Poppins !important;
}
.shadow-2 {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.section-header {
  font-size: 24px !important;
  font-weight: 600;
}

@media (max-width: 580px) {
  .label-title {
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    /* border-radius: 6.1875rem; */
    color: #013220;
    font-family: Poppins !important;
  }
  .section-header {
    text-align: center;
    font-size: 16px !important;
    font-weight: 500;
  }
}
/* <-------- Trust Card --------> */
.about-label-title {
  display: inline-block;
  font-weight: 700;
  font-size: 35px;
  /* border-radius: 6.1875rem; */
  color: #013220;
}

.about-line-large {
  background-color: #013220;
  width: 74px;
  height: 3px;
  border-radius: 10px;
  margin-top: 19px;
  margin-left: 10px;
}

.about-line-small {
  background-color: #013220;
  width: 50px;
  height: 3px;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 10px;
}

.card-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.species-section {
  position: relative;
  bottom: 170px;
  height: 285px;
  z-index: 2;
  border-radius: 16px;
}

/* .species-slider {
  width: 90% !important;
} */
/* .species-card {
  width: 100% !important;
} */
.species-img-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.species-img {
  width: 124px;
  height: 124px;
  /* object-fit: contain; */
  margin: auto;
}

.species-img img {
  width: 100%;
  height: 100%;
}

.species-name {
  color: var(--chinese-black-color);
  font-size: 20px;
  font-weight: 500;
}

.slider-btn-left {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  color: #f97316;
  bottom: 20px;
}

.slider-btn-left:hover {
  background: #f97316;
  border: none;
  cursor: pointer;
  color: var(--white-color);
}

.slider-btn-right {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  color: #f97316;
  bottom: 20px;
}

.slider-btn-right:hover {
  background: #f97316;
  border: none;
  cursor: pointer;
  color: var(--white-color);
}

.custom-dot {
  display: inline-block;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .slider-btn-left {
    left: -10px;
  }

  .slider-btn-right {
    right: 15px;
  }
}

@media (max-width: 992px) {
  /* .slick-slide, .slick-active{
    width: 198px !important;
  } */
  .species-slider {
    width: 80% !important;
  }

  .slider-btn-right {
    right: -10px;
  }
}

@media (max-width: 576px) {
  /* .species-img-section{
    flex-direction: column;
    flex-wrap: nowrap;
  } */
  .species-section {
    position: relative;
    bottom: 50px;
    height: 285px;
    z-index: 2;
    border-radius: 16px;
  }

  .species-section {
    height: auto;
  }

  .species-slider {
    width: 70% !important;
  }

  .slider-btn-right {
    right: 0px;
  }
  .about-line-large {
    width: 54px;
    height: 2px;
  }

  .about-line-small {
    width: 40px;
    height: 2px;
  }
}

/* @media (max-width: 992px) {
  .species-section {
    bottom: 100px;
    position: relative;
    height: 285px;
    z-index: 2;
    border-radius: 16px;
  }
  .species-slider {
    width: 100% !important;
  }
  .slick-slide ,.slick-cloned{
    width: 210px !important;
  }
  .slick-slide, .slick-active{
    width: 198px !important;
  }
  .slider-btn-right {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    color: #f97316;
    bottom: 20px;
    right: 110px;
  }
  .slider-btn-right:hover {
    background: #f97316;
    border: none;
    cursor: pointer;
    color: #ffffff;
  }
} */

.trust-heading {
  font-size: 32px;
  font-weight: 500;
  color: var(--muted-gray-color);
}

.curved-card-bs-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.curved-card-bs {
  width: 100%;
  width: 300px;
  height: 350px;
  /* aspect-ratio: 1 / 1; */
  position: relative;
  background: white;
  /* border: 1px solid black; */
  border-radius: 12px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
}

.curved-card-bs-notch {
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 131px;
  height: 80px;
  background: #f8f9fa;
  border-bottom-left-radius: 65px;
  border-bottom-right-radius: 64px;
  /* border: 1px solid black; */
  border-top: none;
  /* box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); */
  /* box-shadow: inset 0 0 10px 0 #c7c7c7; */
  box-shadow: inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
}

.curved-card-bs-content {
  position: absolute;
  top: 80px;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}

.card-top {
  position: absolute;
  bottom: 12px;
  width: 108px;
  height: 108px;
}

.img1 {
  background: #fdc79e;
}

.img2 {
  background: #bfe3f1;
}

.img3 {
  background: #f4a6bf;
}

.trust-card-heading {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 24px;
  color: #000000;
}

.trust-card-para {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

@media (max-width: 1024px) {
  .curved-card-bs-content {
    position: absolute;
    top: 100px;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 0rem 0.8rem;
  }
}

@media (max-width: 820px) {
  .curved-card-bs-content {
    position: absolute;
    top: 100px;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 0rem 1rem;
  }
}

/* <--------- About ---------> */

.about {
  background: var(--muted-gray-color);
  color: #fff;
}

.about-heading {
  font-size: 24px;
  font-weight: 500;
}

.about-para {
  width: 520px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.about-btn button {
  width: 260px;
  height: 46px;
  background: #fb9038;
  color: var(--white-color);
  border-radius: 8px;
  border: none;
  font-size: 14px;
  font-weight: 600;
}

.about-img {
  width: 218px;
  height: 545px;
}

.about-img img {
  width: 100%;
  height: 100%;
}

.about-slideimg {
  width: 218px;
  height: 545px;
  overflow-y: hidden;
}

.about-slide {
  width: 218px;
  height: 208px;
  padding-bottom: 16px;
}

.about-slide img {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .about-para {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
}

/* <--------- About End ---------> */

/* <--------- Certified ---------> */
.certified {
  height: 490px;
  display: flex;
  align-items: center;
}

.certified-heading {
  font-size: 28px;
  font-weight: 500;
  color: #000000;
}

.certified-images {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

.certified-img {
  width: 100px;
  height: 100px;
}

.certified-img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 820px) {
  .certified-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

/* <--------- Certified End ---------> */

/* <--------- Goat Feed ---------> */

.is-sticky {
  position: fixed;
  top: 13%;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 1000;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.goat-feed {
  background-image: url(../src/component/assets/img/goatfeed/goatfeedbkgrd.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.goatfeed-img {
  width: 348px;
  height: 349px;
}

.goatfeed-img img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  transition: opacity 0.9s ease-in-out;
}

.scroll-container {
  height: 300px;
  overflow-y: auto;
  scroll-behavior: smooth;
  /* border: 1px solid #ccc;  */
  /* padding: 10px; */
}

.goatfeed-content {
  width: 100%;
  height: 295px;
  /* border: 2px solid; */
}

.goatfeet-head {
  font-size: 24px;
  font-weight: 600;
  color: var(--muted-gray-color);
}

.goatfeet-para {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--chinese-black-color);
}

@media (max-width: 1024px) {
  .goat-feed {
    height: auto;
  }

  .goatfeed-content {
    width: 100%;
    height: auto;
    /* border: 2px solid; */
  }
}

/* <--------- Goat Feed End ---------> */

/* <--------- Goat Info ---------> */

.goat-info {
  /* height: 100vh; */
  width: 100%;
  background-image: url(../src/component/assets/img/goatfixed/goatfix.png);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  background-attachment: fixed;
}

.goatinfo-content {
  background-color: rgba(251, 249, 249, 0.7);
  width: 100%;
  /* height: 454px; */
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: var(--muted-gray-color);
}

@media (max-width: 1024px) {
  .goat-info {
    height: auto;
    width: 100%;
    background-position: center;
  }

  .goatinfo-content {
    background-color: rgba(251, 249, 249, 0.7);
    width: 100%;
    height: auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: var(--muted-gray-color);
  }
}

@media (max-width: 820px) {
  .goat-info {
    height: auto;
    width: 100%;
    background-position: center;
  }

  .goatinfo-content {
    background-color: rgba(251, 249, 249, 0.7);
    width: 100%;
    height: auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: var(--muted-gray-color);
  }
}

/* <--------- Goat Info End ---------> */

/*  <--------- Award ---------> */
/* .award-row {
  display: flex;
  justify-content: space-between;
} */
.award {
  background-image: url(../src/component/assets/img/award/awardbkgrd.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.award-img {
  width: 461px;
  height: 332px;
}

.award-img img {
  width: 100%;
  height: 100%;
}

.award-heading {
  font-size: 32px;
  font-weight: 500;
  line-height: 46px;
  color: var(--muted-gray-color);
}

.award-head {
  font-size: 16px;
  font-weight: 500;
  color: var(--orange-color);
}

.award-para {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--muted-gray-color);
}

.award-btn button {
  width: 200px;
  height: 46px;
  background: #fb9038;
  color: var(--white-color);
  border-radius: 8px;
  border: none;
  font-size: 14px;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .award-img {
    width: 100%;
    height: auto;
  }

  /* .award-row{
    flex-direction: column;
    justify-content: center;
  } */
}

@media (max-width: 992px) {
  .award-img {
    width: 100%;
    height: auto;
  }
}

/*  <--------- Award End ---------> */

/* <-------- Research --------> */

.research-heading {
  font-size: 32px;
  font-weight: 500;
}

.research-para {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

.research-col1 {
  padding: 0px 10px;
}

.border-col {
  width: 1px;
  height: 100%;
  background-color: var(--orange-color);
}

.research-head1 {
  font-size: 24px;
  font-weight: 600;
  color: var(--orange-color);
}

.research-para1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

/* <-------- Research End --------> */

/* <-------- Manufacture --------> */

.manufacture {
  background-color: rgba(244, 166, 191, 0.1);
}

.manufacture-heading {
  font-size: 32px;
  font-weight: 500;
  color: var(--chinese-black-color);
}

.manufacture-subhead {
  font-size: 24px;
  font-weight: 600;
  color: var(--orange-color);
}

.manufacture-para {
  font-size: 18px;
  color: var(--chinese-black-color);
  font-weight: 400;
  line-height: 30px;
  padding-top: 32px;
}

/* <-------- Manufacture End --------> */

/* <------- Livestock --------> */

.livestock-row {
  background-color: rgba(36, 36, 36, 1);
  border-radius: 24px;
  z-index: 9 !important;
}

.livestock-title {
  font-size: 16px;
  font-weight: 500;
  /* line-height: 24px; */
  color: var(--white-color);
}

.livestock-subtitle {
  font-size: 15px;
  font-weight: 600;
  /* line-height: 18px; */
  color: var(--orange-color);
}

.livestock-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: var(--white-color);
}

.livestock-img {
  width: 100%;
  height: 100%;
}

.livestock-img img {
  width: 100%;
  height: 100%;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.livestock-training1 {
  width: 140px;
  height: 56px;
}

.text-color {
  color: rgba(112, 112, 112, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.text-color.active {
  color: rgba(17, 17, 17, 1);
  font-weight: 500;
}

.livestock-training2 {
  width: 196px;
  height: 56px;
}

.livestock-training3 {
  width: 272px;
  height: 56px;
}

.livestock-training4 {
  width: 76px;
  height: 56px;
}

@media (max-width: 1024px) {
  .livestock-row {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .livestock-img img {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    /* margin: auto; */
    position: relative;
    right: 80px;
  }

  .text-color {
    color: rgba(112, 112, 112, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
  }

  .livestock-training1 {
    width: 100%;
    height: auto;
  }

  .livestock-training2 {
    width: 100%;
    height: auto;
  }

  .livestock-training3 {
    width: 100%;
    height: auto;
  }

  .livestock-training4 {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 992px) {
  .livestock-img img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    position: relative;
    right: 0px;
  }

  .livestock-title {
    font-size: 1.75rem;
  }

  .livestock-content {
    margin-top: 2rem;
  }
}

/* <------- Livestock End --------> */

/* <------- Training --------> */

.goattraining-title {
  font-size: 16px;
  font-weight: 500;
  /* line-height: 24px; */
  color: #272727;
}

.goattraining-subtitle {
  font-size: 12px;
  font-weight: 600;
  /* line-height: 18px; */
  color: var(--orange-color);
}

.goattraining-subtitle2 {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: var(--orange-color);
}

.goattraining-text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #272727;
}

.goattraining-list ul li {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #272727;
}

/* <-------- Training End ---------> */

/* <------- Nutrition --------> */

.nutrition-heading {
  font-size: 32px;
  font-weight: 500;
  color: var(--white-color);
}

.nutrition-para {
  width: 520px;
  height: 140px;
  line-height: 28px;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 400;
}

.nutrition-cards {
  display: flex;
  justify-content: space-evenly;
}

.bg-lightblue {
  background-color: #89c9e6;
  color: rgba(255, 255, 255, 1);
}

.bg-opacity {
  background-color: #89c9e6;
  opacity: 20%;
}

.text-second {
  color: rgba(255, 255, 255, 1);
  opacity: 20%;
}

@media (max-width: 992px) {
  .nutrition-para {
    width: 100%;
    height: auto;
    line-height: 28px;
    color: var(--white-color);
    font-size: 18px;
    font-weight: 400;
  }

  .nutrition-cards {
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .nutrition-card:nth-child(1) {
    position: relative;
    bottom: 0px;
  }
}

/* <------- Nutrition End --------> */

/* <-------- Faq --------> */
.faq-heading {
  color: #000000;
  font-size: 32px;
  font-weight: 500;
}

.faqsub-heading {
  font-size: 24px;
  font-weight: 600;
  color: var(--orange-color);
}

.accordion {
  color: var(--chinese-black-color) !important;
  border: none !important;
  --bs-accordion-border-width: none !important;
}

.faq-colapse {
  background-color: rgba(236, 114, 41, 0.08) !important;
}

.accordion-button:not(.collapsed) {
  z-index: 0 !important;
  border-radius: 8px !important;
  border-bottom: none !important;
  font-size: 18px !important;
  font-weight: 500 !important;
}

.accordion-body {
  font-size: 14px !important;
  font-weight: 400 !important;
  border-bottom: 1px solid #e8e8e8 !important;
  line-height: 24px !important;
}

.accordion-button::after {
  display: none !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

/* <-------- Faq End --------> */

/* <------- Blog -------> */

.blog {
  height: 400px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 20%,
    rgba(179, 220, 239, 0.4) 100%
  );
}

.blog-heading {
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  color: var(--chinese-black-color);
}

.blog-btn {
  width: 196px;
  height: 52px;
  font-size: 16px;
  font-weight: 600;
  color: var(--white-color);
  background: linear-gradient(to right, #89c9e6, #dd3675, #ec7229);
  border: 0;
  border-radius: 48px;
}

@media (max-width: 992px) {
  .blog {
    height: auto;
  }
}

/* <-------- Blog End -------> */

/* <-------- Products --------> */
.products {
  padding-top: 60px;
  padding-bottom: 20px;
}

.products-card {
  border: none;
  /* width: 294px !important; */
  height: 407px !important;
}

.products-img-top {
  position: relative;
  height: 327px;
  width: 100%;
}

.products-img-top img {
  width: 100%;
  height: 327px;
}

.product-counter {
  z-index: 100;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 10px;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: end;
  justify-content: end;
}

.products-img-top:hover .overlay {
  opacity: 0.9;
}

.add-btn,
.counter {
  position: relative;
  z-index: 9;
}

.product-add-btn {
  width: 40px;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 500 !important;
}

.product-counter {
  width: 107px;
  height: 40px;
  font-size: 24px;
  font-weight: 500 !important;
}

.product-quantity-btn {
  width: 40px;
  height: 40px;
  font-size: 24px !important;
  font-weight: 500 !important;
  color: var(--chinese-black-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .add-btn {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  background-color: #0f1010;
  color: white;
  border: none;
}
.counter {
  background: white;
  padding: 5px 10px;
  border-radius: 20px;
} */
.products-card-text {
  width: 218px;
  height: 36px;
  margin: auto;
  margin-top: 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  font-family: poppins;
  color: var(--muted-gray-color);
}

.products-card-price {
  font-size: 18px;
  font-weight: 500;
  font-family: poppins;
  color: var(--chinese-black-color);
}

.page-item {
  border-radius: 8px;
  height: 36px;
  font-size: 14px;
  font-weight: 500;
}

.pagination-button {
  display: flex;
  justify-content: end;
}

.products-perpage {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 5px;
}

.active-page-bg {
  background: rgba(137, 201, 230, 0.7);
  color: var(--muted-gray-color);
}

.disable-page-bg {
  background: rgba(235, 235, 235, 1);
  color: rgba(112, 112, 112, 1);
}

.form-select {
  color: var(--gray-color) !important;
}

.product-contant-card {
  width: 375px;
  height: 264px;
  position: relative;
}

.product-star-img {
  position: absolute;
  left: 40%;
  top: -70px;
}

.product-star-title {
  font-size: 16px;
  font-weight: 600;
  color: var(--muted-gray-color);
}

.product-star-content {
  font-size: 16px;
  font-weight: 500;
  color: var(--muted-gray-color);
}

.product-rumeno-title {
  font-size: 24px;
  font-weight: 400;
  color: var(--muted-gray-color);
}

.product-rumeno-content {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.product-faq {
  height: 400px;
}

@media (max-width: 1024px) {
  .products {
    padding-top: 60px;
  }

  .products-img-top {
    position: relative;
    height: auto;
    width: 100%;
  }

  .products-img-top img {
    width: 100%;
    height: 100%;
  }

  .products-card {
    border: none;
    /* width: 294px !important; */
    width: 100%;
    height: auto !important;
  }
}

@media (max-width: 992px) {
  .products {
    padding-top: 100px;
  }

  .products-card {
    border: none;
    /* width: 294px !important; */
    width: 100%;
    height: auto !important;
  }

  .products-img-top {
    position: relative;
    height: auto;
    width: 100%;
  }

  .products-img-top img {
    width: 100%;
    height: 100%;
  }

  .products-card-text {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  .pagination-button {
    display: flex;
    justify-content: center;
  }

  .products-perpage {
    display: flex;
    justify-content: center;
  }
}

/* <------- Products End --------> */

/* <--------- AddtoCart ---------> */
/* .addtocart{
  height: 1000px;
} */
.addtocart-content-title {
  font-size: 24px;
  font-weight: 400;
}
.addtocart-img {
  width: 624px;
  height: 592px;
}
.addtocart-img img {
  width: 100%;
  height: 100%;
}

.addtocart-btn {
  width: 160px;
  height: 45px !important;
  border-radius: 4px !important;
  border: 1px solid #ebebeb !important;
}

.addtocart-btn:hover {
  border-radius: 4px !important;
  /* border: 1px solid var(--chinese-black-color) !important; */
}

.product-kg {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(235, 235, 235, 0.2) !important;
  border-start-end-radius: 4px !important;
  border-end-end-radius: 4px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-left: 2px dotted rgba(48, 45, 45, 0.2) !important;
}
.product-kg2 {
  background-color: var(--light-blue-color) !important;
  border-left: 2px dotted var(--chinese-black-color) !important;
}

.addtocart-colapse {
  background-color: var(--white-color) !important;
}

.addtocartfooter {
  height: 360px;
}

.addtocart-review {
  width: 540px;
  height: 399px;
}
.cart-review-btn {
  width: 348px;
  height: 56px;
}

@media (max-width: 1024px) {
  .addtocart-img {
    width: 100%;
    height: auto;
  }
  .addtocart-img img {
    width: 100%;
    height: 100%;
  }
  .addtocart-review {
    width: 100%;
    height: auto;
  }
  .cart-review-btn {
    width: 70%;
    height: 56px;
  }
}
@media (max-width: 992px) {
  .addtocart-img {
    width: 100%;
    height: auto;
  }
  .addtocart-img img {
    width: 100%;
    height: 100%;
  }
}

/* <--------- AddtoCart End ---------> */

/* <--------- Cart ---------> */

.cart-container {
  width: 1104px;
  height: auto;
}
.cart-img {
  width: 90px;
  height: 90px;
}
.cart-img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .cart-container {
    width: 100%;
    height: auto;
  }
}
/* <--------- Cart End ---------> */

/* <-------- Slick --------> */

/* .wrapper {
  padding: 70px 0;
}

.center-slider .slide {
  background-color: #b32532;
  color: #fff;
  height: 300px;
  margin: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.8);
  transition: all 0.4s ease-in-out;
}

.center-slider .slick-center,
.center-slider {
  transform: scale(1.2);
}

.slick-next,
.slick-prev {
  z-index: 5;
}

.slick-next {
  right: 15px;
}

.slick-prev {
  left: 15px;
}

.slick-next:before,
.slick-prev:before {
  color: #000;
  font-size: 26px;
} */

/* <--------- Goat Form ---------> */

.btn-bg {
  background: linear-gradient(90deg, #87ceeb, #dd3675, #dd3675, #ee7724);
  color: #fff;
}

.btn-bg2 {
  background-color: #fb9038;
  color: #fff;
}

/* <------- Siderbar -------> */
.sidebar {
  /* height: 100vh; */
  width: 100%;
  /* position: fixed; */
}

.sidebar-img {
  width: 92px;
  height: 94px;
}

.sidebar-img img {
  width: 100%;
  height: 100%;
}

/* <------- Detail ------> */

.detail-head {
  font-size: 24px;
  font-weight: 500;
}

.detail-para {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-color);
}

.form-lable-detail {
  color: var(--gray-color);
  font-size: 14px !important;
  font-weight: 300 !important;
}
/* .form-control {
  color: rgba(112, 112, 112, 0.6) !important;
} */

.form-control-detail {
  border-radius: 8px;
  padding: 10px;
  color: var(--chinese-black-color) !important;
  font-size: 14px;
  font-weight: 400;
}

.form-control:focus {
  border: 1px solid var(--gray-color) !important;
  box-shadow: none;
}

/* Radio Button Css */
.custom-radio {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid orange;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.custom-radio:checked {
  background-color: white;
}

.custom-radio:checked::before {
  content: "";
  width: 11px;
  height: 11px;
  background-color: orange;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* <-----Parent & Child Card-----> */
.width-20 {
  width: 20%;
}
@media (max-width: 1400px) {
  .width-20 {
    flex-direction: column;
    width: 25%;
    height: auto;
  }
}
@media (max-width: 1024px) {
  .width-20 {
    flex-direction: column;
    width: 33%;
  }
}
@media (max-width: 992px) {
  .width-20 {
    flex-direction: column;
    width: 50%;
  }
}
@media (max-width: 820px) {
  .width-20 {
    flex-direction: column;
    width: 50% !important;
  }
}
@media (max-width: 580px) {
  .width-20 {
    flex-direction: column;
    width: 100% !important;
  }
}
.parent-card-modal {
  background-color: #89c9e61a;
}
.card-header {
  font-size: 17px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 0px solid rgba(0, 0, 0, 0);
}

.card-content {
  font-size: 14px;
  font-weight: 500;
}

.child-header {
  background-color: #f6f6f6 !important;
}

.child-header:hover {
  background-color: #d9d9d9 !important;
}

.card-footer {
  /* padding: .5rem 1rem; */
  background-color: rgba(0, 0, 0, 0) !important;
}

/* .farm-management {
  background-color: #f5f9ff;
}

.form-control,
.form-select {
  border-radius: 8px;
  border-color: #e2e8f0;
}

.form-control:focus,
.form-select:focus {
  border-color: #f4863e;
  box-shadow: 0 0 0 0.25rem rgba(244, 134, 62, 0.25);
}

.form-check-input:checked {
  background-color: #f4863e;
  border-color: #f4863e;
}

.sidebar .btn:hover {
  background-color: #f8fafc;
}

.breadcrumb-item {
  color: #94a3b8;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #94a3b8;
}

.breadcrumb-item.active {
  color: #64748b;
} */

/* .farm-management {
  min-height: 100vh;
  background-color: #f5f9ff;
}

.sidebar .btn:hover {
  background-color: #f8f9fa;
}

.form-control:focus,
.form-select:focus {
  border-color: #f4863e;
  box-shadow: 0 0 0 0.25rem rgba(244, 134, 62, 0.25);
}

.form-check-input:checked {
  background-color: #f4863e;
  border-color: #f4863e;
} */

/* <----- Record ------> */

.farm-app {
  background-color: #e6f3f9;
}

.nav-tabs .nav-link {
  color: #6c757d;
  border: none;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  font-size: 14px;
  font-weight: 500;
}

.nav-tabs .nav-link.active {
  width: 150px;
  height: 36px;
  margin: 0px !important;
  background-color: #dd3675b2;
  color: white !important;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
}

.nav-tabs {
  border-bottom: none;
}

.record-head {
  font-size: 18px;
  font-weight: 500;
}

.record-para {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-color);
}

.form-lable-record {
  font-size: 15px;
  font-weight: 300;
  color: var(--gray-color);
}

.form-control-record {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-color);
  border-radius: 8px;
  border: 1px solid var(--gray-color);
}

.record-btn {
  font-size: 14px;
  font-weight: 500;
  background: #fb9038 !important;
  color: #fff;
  border-radius: 38px;
  border: 0px;
  padding: 10px 20px;
}

/*  <--------- Dashboard Table ----------> */

.row-border th:first-child,
.row-border td:first-child {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.row-border th:last-child,
.row-border td:last-child {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.table {
  border-collapse: separate;
  border-spacing: 0 15px;
}
.row-border th,
.row-border td {
  text-align: center;
}

.row-shadow {
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
.heads {
  text-align: center;
}
.dashboard-table-btn {
  border-radius: 5px;
  border: 0.5px solid;
  padding: 0px 10px;
  background: linear-gradient(to right, rgb(96, 165, 250), rgb(236, 72, 153));
  color: #ffffff;
  border: none;
}

/*  <------ Footer ------> */

.footer {
  position: sticky;
  background-color: #242424;
}

.footer-img {
  width: 224px;
  height: 233px;
}

.footer-img img {
  width: 100%;
  height: 100%;
}

.footer-heading {
  font-size: 22px;
  color: var(--white-color);
  line-height: 28px;
}

.footer-heading-contact {
  font-size: 22px;
  font-weight: 500;
  color: var(--white-color);
  line-height: 28px;
}

.footer-ul {
  width: 170px;
  height: 172px;
}

.footer-ul li .text-light {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: var(--white-color) !important;
}

.text-light {
  color: var(--white-color) !important;
}

.social-icons {
  display: flex;
}

@media (max-width: 992px) {
  .footer-img {
    width: 100px;
    height: 100px;
    /* height: auto; */
    /* margin: auto; */
  }

  /* .footer-link {
    margin: auto;
    text-align: center;
  } */

  /* .footer-ul {
    margin: auto;
  } */

  .footer-heading {
    /* text-align: center; */
    margin: 10px 0px;
  }

  .footer-heading-contact {
    /* text-align: center; */
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 500;
    color: var(--white-color);
    line-height: 28px;
    margin-top: 20px;
  }
  .social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* ------------------- Service css --------------------- */
.service-bg-color {
  background-color: rgba(236, 114, 41, 0.08);
}

.service-heading {
  font-size: 32px;
  font-weight: 500;
  color: var(--muted-gray-color);
}

.heading-description {
  font-size: 16px;
  font-weight: 500;
  color: var(--muted-gray-color);
}

.service-border {
  border-radius: 16px;
}

.content-heading {
  font-size: 18px;
  font-weight: 500;
  color: var(--chinese-black-color);
}

.service-inner-text {
  font-size: 14px;
  font-weight: 400;
}

.service-img {
  width: 650px;
  height: 555px;
}
.team-img {
  margin-top: -170px;
}

/* --------------------- Font Css class ---------------------- */
.font-size-28 {
  font-size: 28px;
  font-weight: 500;
}

.font-size-18 {
  font-size: 18px;
  font-weight: 500;
}

.font-size-12 {
  font-size: 12px;
  font-weight: 400;
}

.font-size-14 {
  font-size: 14px;
  font-weight: 400;
}

.font-size-16 {
  font-size: 16px;
  font-weight: 400;
}

.font-size-24 {
  font-size: 24px;
  font-weight: 500;
}

.font-size-32 {
  font-size: 32px;
  font-weight: 500;
}

.font-size-48 {
  font-size: 48px;
  font-weight: 600;
}
.business {
  background-color: var(--light-sky-blue-color);
}

.text-justify {
  text-align: justify;
}

.form-radius {
  border-radius: 24px;
}

.form-img {
  width: 510.73px;
  height: 766px;
  background: url("./component//assets//img//service-img/form-side-img.png")
    no-repeat center center;
  background-size: cover;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.service-form-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 0px;
  padding: 10px;
}

.service-form-input:focus {
  background-color: transparent;
  outline: none;
}

.btn-submit {
  background-color: #ff8c00;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

input[type="radio"] {
  accent-color: var(--orange-color) !important;
  background-color: var(--white-color);
}

.dairy-img {
  width: 633px;
  height: 467px;
}

/* ------------------------- Login css ----------------------- */
.login-bg {
  margin: 100px 0px 100px 0px;
  background-color: var(--light-blue-color);
  border-radius: 24px;
}

.login-img {
  width: 100%;
  height: 100%;
  border-radius: 24px;
}
.login-img img {
  width: 100%;
  height: 100%;
}

.otp-input {
  width: 48px;
  height: 48px;
  text-align: center;
  font-size: 18px;
  margin: 5px;
  /* border: 1px solid #ced4da; */
  border: none;
  border-radius: 5px;
}

/* ----------------------- Conatact Us Css ---------------------- */
.contact-us-bg-img {
  margin: 100px 0px 100px 0px;
  background: url(./component/assets/img/Login/contact-us.png) no-repeat center
    center;
  background-size: cover;
  border-radius: 20px;
  position: relative; /* Required for ::before to layer correctly */
  overflow: hidden;
}
/* .contact-us-bg-img::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3); 
  border-radius: 20px; 
  z-index: 1;
} */

/* ------------------- Error Page Css -------------------- */
.error-img {
  width: 426px;
  height: 388px;
}
.error-cow {
  width: 116px;
  height: 172px;
}
.error-btn {
  background-color: #a4be7b;
}
/* 🔹 ---------------- Media Queries for Mobile & Tablets ---------------------- */
@media (max-width: 1024px) {
  .login-img img{
    width: 100%;
    height: 100%;
  }

  /* Font Responsive Css */
  .font-md-size-20 {
    font-size: 20px;
  }

  .font-md-size-20 {
    font-size: 20px;
  }

  .font-md-size-12 {
    font-size: 12px;
  }

  .service-img {
    border-radius: 10px;
  }

  .dairy-img {
    border-radius: 10px;
  }

  .otp-input {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .error-img {
    width: 200px;
    height: 200px;
  }
  .error-cow {
    width: 90px;
    height: 90px;
  }
  .team-img {
    margin-top: 0px;
  }
  .home-heading {
    font-size: 20px;
    font-weight: 500;
  }
  .home-title {
    font-size: 16px;
    font-weight: 400;
  }
  .blog-mini-img {
    height: auto !important;
  }
  /* .slick-next {
  right: -10px !important;
}
.slick-prev{
  left: -10px !important;
}
.slick-next,.slick-prev{
  top: 45% !important;
} */
}

.custom-dropdown-toggle {
  background: #fb9038 !important;
  color: white !important;
  border: none;
}
.custom-dropdown-toggle:focus,
.custom-dropdown-toggle:active,
.custom-dropdown-toggle.show {
  background: #fb9038 !important;
  color: white !important;
  box-shadow: none !important;
}

.promot-parent {
  border-color: #fb9038;
  background-color: #ffffff;
  color: #fb9038;
}
.promot-parent:hover {
  border-color: #fb9038;
  background-color: #fb9038 !important;
  color: #ffffff !important;
}

/* Blogs Css */
.main-blog-img {
  width: 100%;
  height: 463px;
}

.blog-mini-img {
  width: 100%;
  height: 183px;
}

/* Dashboard Cards */
.dashboard-cards {
  transition: "transform 0.3s ease, box-shadow 0.3s ease";
}
.dashboard-cards img {
  width: 100% !important;
  height: 100% !important;
}
.card-pink-border {
  border-left: 5px solid #dd3675;
}
.card-blue-border {
  border-left: 5px solid #89c9e6;
}
.card-orange-border {
  border-left: 5px solid #ec7229;
}
.card-img-circle {
  height: 60px;
  width: 60px;
  /* background-color: #dff3fc; */
  /* background: linear-gradient(
    to right,
    rgba(137, 201, 230, 0.3),
    rgba(221, 54, 117, 0.3),
    rgba(236, 114, 41, 0.3)
  ); */
  /* background: rgba(137, 201, 230, 0.7); */
}
.card-img-circle img {
  /* aspect-ratio: 2/2;
  object-fit: cover; */
  width: 80% !important;
  height: 100% !important;
}
.farmer-modal{
background-color: #f1fbff;
}
.card-orange-circle{
  background-color: rgba(236, 114, 41, 0.1);
}
.card-blue-circle{
  background-color: rgba(137, 201, 230, 0.1);
}

 .table .heading{
  font-size: 15px !important;
  font-weight: 600;
}